*{
margin:0;
padding:0;
box-sizing:border-box;
scroll-behavior:smooth;
}

body{
font-family:Arial, Helvetica, sans-serif;
background:#F8F5EC;
color:#3B3B3B;
}

/* Navigation */

nav{
display:flex;
align-items:center;
background:#6B8E23;
padding:18px 40px;
position:sticky;
top:0;
z-index:1000;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
}

nav h2{
color:white;
white-space:nowrap;
margin-right:40px;
}

nav ul{
display:flex;
align-items:center;
list-style:none;
gap:22px;
margin-left:auto;
}

nav ul li a{
color:white;
text-decoration:none;
transition:.3s;
white-space:nowrap;
}

/* Hero */

.hero{
text-align:center;
padding:120px 20px;
background:linear-gradient(135deg,#E8E3D3,#F8F5EC);
}

.hero h1{
color:#556B2F;
}

.hero p{
color:#555;
}

/* General Button */

.btn{
display:inline-block;
margin-top:30px;
padding:12px 30px;
background:#6B8E23;
color:white;
text-decoration:none;
border-radius:30px;
transition:.3s;
}

.btn:hover

/* Sections */

section{
width:85%;
margin:60px auto;
}

section h2{
text-align:center;
color:#38bdf8;
margin-bottom:35px;
font-size:35px;
}

/* Cards */

.card{
background:white;
padding:25px;
margin-bottom:25px;
border-radius:15px;
box-shadow:0 8px 20px rgba(0,0,0,0.08);
transition:.3s;
}

.card:hover{
transform:translateY(-6px);
}

.card h3{
color:#556B2F;
}

/* Contact */

#contact p{
text-align:center;
margin:12px;
}

#contact a{
color:#38bdf8;
text-decoration:none;
}

#contact a:hover{
text-decoration:underline;
}

/* Footer */

footer{
background:#6B8E23;
color:white;
text-align:center;
padding:25px;
}

/* Mobile */

@media (max-width:900px){

```
nav{
    flex-direction:column;
    gap:15px;
    padding:20px;
}

nav h2{
    margin-right:0;
}

nav ul{
    margin-left:0;
    flex-wrap:wrap;
    justify-content:center;
    gap:15px;
}

.cv-button{
    margin-left:0;
}
```

}


/* Resume */

#resume{
    text-align:center;
}

.resume-button{
    display:inline-block;
    margin-top:5px;
    padding:12px 28px;
    background:#6B8E23;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
    transition:0.3s ease;
}

.resume-button:hover{
    background:#556B2F;
    transform:translateY(-2px);
}
